async-timeout==4.0.2
bleak==0.17.0
cycler==0.11.0
dbus-fast==1.4.0
fonttools==4.37.1
future==0.18.2
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.21.6
packaging==21.3
Pillow==9.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
six==1.16.0
torch==1.5.1
torchvision==0.6.1
typing_extensions==4.3.0
